ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex: 1 0 auto;
}

.greeting {
  span {
    color: #1a65eb;
    text-decoration: underline;
  }

  font-size: 1.5rem;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;

  span:nth-child(1) {
    font-style: italic;
  }

  span:nth-child(2) {
    font-weight: normal;
  }
}


.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

ion-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}


.modal-container {

  h3 {
    text-align: center;
  }
  padding: 1em;
}

ion-card {

  div {
    padding: .5em;
    gap: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
