<ion-content class="ion-padding">
  <ion-header>
    You know the buttons
  </ion-header>
  <div class="container">
    <div class="greeting">
      Welcome, <span>Guest</span>
    </div>
    <div class="title">
      <span>Lingua</span>
      <span>Puzzle</span>
      <span>Mobile</span>
    </div>

    <div class="buttons">
      <ion-button size="large" (click)="navigateToPuzzle()">Start</ion-button>
      <ion-button size="large" id="open-modal">Settings</ion-button>
    </div>
  </div>

  <ion-modal trigger="open-modal">
    <ng-template>
      <app-settings (closeSettings)="closeModal()"></app-settings>
    </ng-template>
  </ion-modal>
</ion-content>

